<nav>
  <div class="headerContent">
    <div class="logoContainer">
      <a routerLink="/"><img src="assets/images/logo.png" alt="logo"></a>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Details</button>
      <div class="dropdown-content">
        <a routerLink="/details">USD</a>
        <a routerLink="/details">EUR</a>
      </div>
    </div>
  </div>
</nav>
