/*---------------------- Navbar -------*/

nav{
  background-color: #031240;
  height: 100px;
}
nav * {
  height: inherit;
}
.headerContent{
  margin: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoContainer{
  width: 20%;
}
/*---------------------- DropDown Menu -------*/
.dropbtn {
  background-color: #927e47;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.headerContent .dropdown {
  height:auto;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
  color: #927e47;
}
