<div class="convert-form">
  <form action="" method="get">
    <label>from:</label>
    <select name="fromCurr">
      <option value="1">
USD
      </option>
      <option value="2">
EUR
      </option>
      <option value="3">
YEN
      </option>
    </select>
    <button type="button">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>
    </button>
    <label>to:</label>
    <select name="toCurr">
      <option value="1">
USD
      </option>
      <option value="2">
EUR
      </option>
      <option value="3">
YEN
      </option>
    </select>
    <label for="amount"> amount:</label>
    <input type="number" id="amount" name="amount"><br><br>
    <button type="submit"> Convert </button>
    <p>Result = {{calculatedValue}}</p>
  </form>


</div>
